<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Compare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="container">
  <div class="topnav">
    <a class="active" href="/">Compare</a>
    <a href="/compose" style="color : green">New +</a>

    <form class="" action="/games" method="post">
      <button type="submit" name="button">Submit</button>
      <input type="text" name = "key" placeholder="Search by key .....">
    </form>

  </div>
